<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GradeStats</title>
  <link rel="import" href="includes.html">

</head>
<body ng-app="GradeStats">
  Using node <script>document.write(process.versions.node)</script>,
  Chrome <script>document.write(process.versions.chrome)</script>,
  and Electron <script>document.write(process.versions.electron)</script>.
  <div ng-controller="ImportController">
    Drop File:
    <div      style="
    background: #F8F8F8;
    border: 15px dashed #DDD;
    height: 300px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;" ngf-drop ngf-no-object-url="true" ngf-select ng-model="files" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    accept=".xls"
    ngf-pattern=".xls">
    <strong>Click here or drop  MS spredsheet for import</strong>
  </div>
  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  Files:
  <ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
  </ul>
  Upload Log:
  <pre>{{log}}</pre>

  sheet {{json}}
</div>
</div>


</body>
</html>
